<%- include("partials/header") -%>

<h1>Compose</h1>
<div id="composeMainDiv">
    <form action="/compose" method="post">
        <label for="composeTitle">Title</label>
        <input type="text" name="postTitle" id="composeTitle" placeholder="compose your title here..." autocomplete="off">

        <label for="composeTextArea">Post</label>
        <textarea name="postText" id="composeTextArea" placeholder="Write your post here..." cols="50" rows="10"></textarea>
        <button type="submit">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>